* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: normal;
}

body p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

.margin-box {
  margin-bottom: 70px;
}

:root {
  --primary: #fdc115;
  --secondary: #1b1b1b;
  --text: black;
  --color1: #f6f6f6;
  --color2: #6a6a6a;
  --color3: #34a852;
  --color4: #3f2fee;
  --color5: #ea4334;
  --color6: #e4edf9;
  --color7: #ba77eb;
  --color8: #2567e8;
  --stroke: #d9d9d9;
  --white: #ffffff;
  font-family: var(--neue-haas);
}

.buttons {
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 12px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 60px;
  padding: 16px 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
  width: fit-content;
  font-weight: 400;
  border: 1px solid var(--primary);
  text-transform: capitalize;
}

.buttons__icon-wrapper {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  position: relative;
  color: var(--secondary);
  background-color: var(--white);
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.buttons__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.buttons:hover .buttons__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.buttons:hover .buttons__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}

/*testimonial-section*/
.testimonial-heading {
  font-size: 52px;
  line-height: 68px;
  width: 70%;
  margin-bottom: 40px;
}

.testimonial-heading span {
  color: var(--color2);
  line-height: inherit;
}

/*global-faqs-seciton*/
.global-faqs-section {
  padding: 0px 100px 70px 100px;
}

.global-faqs-accordion .accordion-item {
  border-bottom: 1px solid var(--stroke);
  margin-bottom: 10px;
  padding-bottom: 12px;
}

.global-faqs-accordion .accordion-body {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

.global-faqs-accordion {
  --bs-accordion-border-width: none !important;

  --bs-accordion-btn-icon-width: 1.3rem !important;
  --bs-accordion-btn-icon-transition: transform 0.5s ease-in-out;

  --bs-accordion-btn-focus-box-shadow: none !important;
}

.faq-heading {
  font-size: 52px;
  margin-bottom: 32px;
}

.global-faqs-accordion button {
  background: transparent;
  color: var(--text);
  font-size: 20px;
  font-weight: 500;
}

.global-faqs-accordion .accordion-button:not(.collapsed) {
  background: transparent;
  color: var(--color2);
}

.faqs-question-box {
  background-color: var(--secondary);
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  color: var(--white);
  text-align: center;
}

.faqs-question-box h4 {
  font-size: 22px;
}

.faqs-question-box p {
  font-size: 18px;
  line-height: 24px;
}

.faqs-question-box .buttons {
  width: 100%;
  justify-content: center;
  border-radius: 0;
  margin-top: 20px;
}

/*responsive*/

/* mobile phones to tablet devices*/
@media (max-width: 991.98px) {
  .buttons {
    padding: 16px 20px;
    font-size: 15px;
  }

  .margin-box {
    margin-bottom: 40px;
  }

  /*global-faqs-section*/
  .faq-heading {
    font-size: 38px;
  }

  .global-faqs-accordion button {
    padding: 10px;
  }

  .global-faqs-accordion .accordion-body {
    padding: 10px;
  }

  /*testimonial-section*/
  .testimonial-heading {
    width: 100%;
  }
}

/*mobile devices*/
@media (max-width: 575.98px) {
  /*global-faqs-seciton*/
  .global-faqs-section {
    padding: 0px 20px 40px 20px;
  }

  .global-faqs-accordion button {
    padding: 10px;
  }

  .global-faqs-accordion .accordion-body {
    padding: 10px;
  }

  /*testimonial-section*/
  .testimonial-heading {
    font-size: 36px;
    line-height: 44px;
  }
}

/*table devices*/
@media (min-width: 575.99px) and (max-width: 991.98px) {
  /*global-faqs-seciton*/
  .global-faqs-section {
    padding: 0px 40px 40px 40px;
  }

  /*testimonial-section*/
  .testimonial-heading {
    font-size: 42px;
    line-height: 52px;
  }
}

/*large desktop devices*/
@media (min-width: 991.98px) and (max-width: 1199.98px) {
}

@media (min-width: 1199.98px) and (max-width: 1366.98px) {
}

/*extra large desktop devices */
@media (min-width: 1366.98px) and (max-width: 1512.98px) {
}
