.coming-soon-section {
  padding: 60px 100px 0px 100px;
  background-color: var(--color1);
  height: 100vh;
  background-image: url("/images/bg-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.coming-soon-row {
  justify-content: space-between;
}

.coming-soon-heading {
  font-size: 52px;
  margin-bottom: 28px;
}

.coming-soon-heading span {
  color: var(--color2);
}

.coming-soon-content p {
  font-size: 20px;
  font-weight: 500;
  color: var(--color2);
  margin-bottom: 20px;
  line-height: 30px;
}

.coming-soon-button {
  margin-top: 40px;
}

.coming-soon-button p {
  font-size: 20px;
  margin-bottom: 14px;
  color: var(--text);
}

.coming-soon-form-wrapper {
  background-color: var(--white);
  padding: 50px 40px;
}

.coming-soon-form-wrapper form .form-control {
  padding: 14px 14px;
  border: 1px solid var(--stroke);
}

.coming-soon-form-wrapper .btn-check:checked + .btn {
  background-color: var(--primary);
  border-color: var(--primary);
}

.coming-soon-form-wrapper .btn {
  border-color: var(--stroke);
  padding: 8px 12px;
}

.coming-soon-form-wrapper .buttons {
  background-color: var(--secondary);
  border-color: var(--secondary);
  margin-top: 20px;
}

.coming-soon-email-link {
  text-align: end;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.coming-soon-email-link a {
  color: var(--color2);
}

/* this was missing in your css mapping, so i kept it as coming-soon scoped */
.coming-soon-services-button {
  border-color: var(--stroke);
}

/*responsive*/

/* mobile phones to tablet devices*/
@media (max-width: 991.98px) {
  .coming-soon-section {
    height: 100%;
    background-image: none;
  }

  .coming-soon-row {
    gap: 60px;
  }

  .coming-soon-form-wrapper {
    padding: 50px 20px;
  }
}

/*mobile devices*/
@media (max-width: 575.98px) {
  .coming-soon-section {
    padding: 60px 20px;
  }

  .coming-soon-heading {
    font-size: 44px;
    margin-bottom: 20px;
  }

  .coming-soon-email-link {
    display: none;
  }
}

/*table devices*/
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .coming-soon-section {
    padding: 60px 40px;
  }

  .coming-soon-heading {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .coming-soon-email-link {
    display: block;
  }
}

/*large desktop devices*/
@media (min-width: 991.98px) and (max-width: 1199.98px) {
}

@media (min-width: 1199.98px) and (max-width: 1366.98px) {
}

/*extra large desktop devices */
@media (min-width: 1366.98px) and (max-width: 1512.98px) {
}
