.gmb-section-1 {
  background-image: url("/images/bg-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 160px 100px 0px 100px;
  overflow: hidden;
}

.gmb-sec1-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 60px;
}

.gmb-sec1-content .buttons {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.gmb-sec1-title {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px 20px;
  background-color: rgba(52, 168, 82, 0.2);
  width: fit-content;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
  text-transform: capitalize;
}

.gmb-sec1-heading {
  font-size: 46px;
  line-height: 54px;
  text-transform: capitalize;
}

.gmb-sec1-descrp {
  font-size: 20px;
  line-height: 28px;
  color: var(--text);
  font-weight: 500;
  width: 95%;
}

.gmb-sec1-descrp span {
  color: var(--color2);
  line-height: inherit;
}

.gmb-sec1-content .buttons {
  margin-top: 20px;
}

.gmb-sec1-img-cont {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gmb-sec1-img-cont img {
  object-fit: cover;
}

/*gmb-section-2*/
.gmb-section-2 {
  background-color: var(--color6);
  padding: 70px 100px 0px 100px;
}

.gmb-sec2-head-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;
}

.gmb-sec2-heading {
  font-size: 42px;
}

.gmb-sec2-descrp {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  width: 60%;
}

.gmb-sec2-cards {
  margin-top: 60px;
  position: relative;
}

.gmb-sec2-img-cont {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60vw;
  height: 500px;
  transform: translate(-50%);
}

.gmb-sec2-cards img {
  object-fit: cover;
}

.gmb-cause-card-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.gmb-cause-card-heading {
  text-transform: capitalize;
  font-size: 22px;
}
.gmb-cause-card-descrp {
  font-weight: 500;
  font-size: 18px;
  color: var(--color2);
  line-height: 28px;
}

.gmb-cause-card-row2 {
  padding: 0px 120px;
}

.gmb-cause-card-row3 {
  padding: 120px;
}

.gmb-cause-card-row2,
.gmb-cause-card-row3 {
  z-index: 20;
}

/*gmb-section-5*/
.gmb-section-5 {
  padding: 70px 100px;
  background-color: var(--secondary);
}

.gmb-sec5-heading {
  font-size: 52px;
  color: var(--white);
  line-height: 60px;
  margin-bottom: 40px;
}

.gmb-sec5-heading span {
  color: var(--primary);
  line-height: inherit;
}

.gmb-sec5-descrp p {
  font-size: 18px;
  color: var(--white);
  line-height: 30px;
  margin-bottom: 20px;
}

.gmb-sec5-descrp p span {
  color: var(--primary);
}

/*gmb-secction-6*/

.gmb-section-6 {
  padding: 70px 0px;
}

.gmb-sec6-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.gmb-sec6-heading {
  font-size: 42px;
  width: 40%;
  text-align: center;
}

.gmb-sec6-work-img {
  position: relative;
  height: 250px;
  width: 450px;
  overflow: hidden;
  margin: 0px 10px;
}

.gmb-sec6-work-img img {
  object-fit: contain;
}

.gmb-section-7 {
  background-image: url("/images/bg-3.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 70px;
  position: relative;
}

.gmb-sec7-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.gmb-sec7-heading {
  font-size: 52px;
  color: var(--text);
  width: 60%;
  text-align: center;
  font-weight: 600;
}

.gmb-sec7-descrp {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  width: 30%;
  line-height: 30px;
}

.gmb-sec7-head .buttons {
  background-color: var(--color5);
  margin-top: 20px;
  border-color: var(--color5);
}

.gmb-sec7-img-cont {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 350px;
}

.gmb-sec7-img-cont img {
  object-fit: contain;
}

/*responsive*/

/* mobile phones + tablets */
@media (max-width: 991.98px) {
  /* Section 1 */
  .gmb-section-1 {
    background-image: none;
    height: 100%;
    overflow: hidden;
  }

  .gmb-sec1-descrp {
    width: 100%;
  }

  .gmb-sec1-content {
    padding-bottom: 0px;
  }

  /* Section 2 */
  .gmb-section-2 {
    background-color: var(--color6);
  }

  .gmb-sec2-cards {
    margin-top: 40px;
  }

  .gmb-sec2-img-cont {
    display: none;
  }

  .gmb-cause-card-cont svg {
    margin-bottom: 14px;
  }

  .gmb-cause-card-cont {
    gap: 4px;
    margin-bottom: 24px;
  }

  /* Section 5 */
  .gmb-section-5 .buttons {
    margin-bottom: 40px;
  }

  /* Section 6 */
  .gmb-sec6-head {
    justify-content: start;
    align-items: start;
  }

  .gmb-sec6-heading {
    width: 100%;
    text-align: start;
    margin-bottom: 20px;
  }
}

/*mobile only*/
@media (max-width: 575.98px) {
  .gmb-section-1 {
    padding: 100px 20px 0px 20px;
  }

  .gmb-sec1-content {
    margin-bottom: 20px;
  }

  .gmb-sec1-title {
    padding: 12px 16px;
    font-size: 15px;
  }

  .gmb-sec1-heading {
    font-size: 42px;
    line-height: 52px;
  }

  .gmb-sec1-content .buttons {
    margin-top: 16px;
  }

  .gmb-sec1-img-cont {
    height: 340px;
  }

  /* Section 2 */
  .gmb-section-2 {
    padding: 40px 20px 0px 20px;
  }

  .gmb-sec2-head-cont {
    text-align: start;
  }

  .gmb-sec2-heading {
    font-size: 32px;
  }

  .gmb-sec2-descrp {
    width: 100%;
  }

  .gmb-cause-card-cont {
    align-items: start;
  }

  .gmb-cause-card-descrp {
    text-align: start;
  }

  .gmb-cause-card-row2 {
    padding: 0px 20px;
  }

  .gmb-cause-card-row3 {
    padding: 20px;
  }

  /* Section 5 */
  .gmb-section-5 {
    padding: 40px 20px;
  }

  .gmb-sec5-heading {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 32px;
  }

  /* Section 6 */
  .gmb-section-6 {
    padding: 40px 20px;
  }

  .gmb-sec6-heading {
    font-size: 36px;
  }

  /* Section 7 */
  .gmb-section-7 {
    height: 100%;
    padding-top: 70px;
  }

  .gmb-sec7-head {
    padding: 0px 20px;
    margin-bottom: 20px;
  }

  .gmb-sec7-heading {
    font-size: 42px;
    width: 100%;
  }

  .gmb-sec7-descrp {
    width: 100%;
  }

  .gmb-sec7-img-cont {
    position: relative;
    width: 100%;
    height: 200px;
  }

  .gmb-sec7-img-cont img {
    object-fit: cover;
  }
}

/*table devices*/
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .gmb-section-1 {
    padding: 120px 40px 0px 40px;
  }

  .gmb-sec1-heading {
    font-size: 48px;
    line-height: 58px;
  }

  .gmb-sec1-img-cont {
    height: 480px;
  }

  /* Section 2 */
  .gmb-section-2 {
    padding: 60px 40px 0px 40px;
  }

  .gmb-sec2-head-cont {
    text-align: center;
  }

  .gmb-sec2-heading {
    font-size: 40px;
  }

  .gmb-sec2-descrp {
    width: 75%;
    line-height: 32px;
  }

  .gmb-cause-card-cont {
    align-items: center;
  }

  .gmb-cause-card-descrp {
    text-align: center;
    width: 50%;
  }

  .gmb-cause-card-row2 {
    padding: 0px 40px;
  }

  .gmb-cause-card-row3 {
    padding: 20px 40px;
  }

  /* Section 5 */
  .gmb-section-5 {
    padding: 60px 40px;
  }

  .gmb-sec5-heading {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 32px;
  }

  /* Section 6 */
  .gmb-section-6 {
    padding: 60px 40px;
  }

  .gmb-sec6-heading {
    font-size: 42px;
  }

  /* Section 7 */
  .gmb-section-7 {
    height: 100%;
    padding-top: 70px;
  }

  .gmb-sec7-head {
    padding: 0px 40px;
    margin-bottom: 20px;
  }

  .gmb-sec7-heading {
    font-size: 48px;
    width: 100%;
  }

  .gmb-sec7-descrp {
    width: 100%;
  }

  .gmb-sec7-img-cont {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .gmb-sec7-img-cont img {
    object-fit: contain;
  }
}

/*large desktop devices*/
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .gmb-section-1 {
    padding: 150px 30px 0px 30px;
  }

  .gmb-sec1-heading {
    font-size: 40px;
    line-height: 52px;
  }

  .gmb-sec1-descrp {
    font-size: 18px;
    width: 95%;
  }

  /*gmb-section-2*/
  .gmb-section-2 {
    background-color: var(--color6);
    padding: 40px 30px 0px 30px;
  }

  .gmb-sec2-descrp {
    width: 80%;
  }

  .gmb-sec2-img-cont {
    width: 100%;
    height: 400px;
    object-fit: contain;
  }

  .gmb-cause-card-row2 {
    padding: 0px 80px;
  }

  .gmb-cause-card-row3 {
    padding: 80px;
  }

  /*gmb-section-5*/
  .gmb-section-5 {
    padding: 40px 30px;
  }

  .gmb-sec5-heading {
    font-size: 32px;
    line-height: 44px;
  }

  /*gmb-secction-6*/

  .gmb-section-6 {
    padding: 40px 0px;
  }

  .gmb-sec6-heading {
    font-size: 42px;
    width: 80%;
    text-align: center;
  }

  .gmb-section-7 {
    height: 100%;
    padding-top: 40px;
  }

  .gmb-sec7-heading {
    font-size: 42px;
    width: 40%;
  }

  .gmb-sec7-img-cont {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .gmb-sec7-img-cont img {
    object-fit: contain;
  }
}

@media (min-width: 1199.98px) and (max-width: 1399.98px) {
  .gmb-section-1 {
    padding: 160px 40px 0px 40px;
  }

  .gmb-sec1-heading {
    font-size: 46px;
    line-height: 56px;
  }

  .gmb-sec1-descrp {
    font-size: 18px;
    width: 95%;
  }

  /*gmb-section-2*/
  .gmb-section-2 {
    background-color: var(--color6);
    padding: 40px 30px 0px 30px;
  }

  .gmb-sec2-descrp {
    width: 80%;
  }

  .gmb-sec2-img-cont {
    width: 100%;
    height: 500px;
    object-fit: contain;
  }

  .gmb-cause-card-row2 {
    padding: 0px 100px;
  }

  .gmb-cause-card-row3 {
    padding: 100px;
  }

  /*gmb-section-5*/
  .gmb-section-5 {
    padding: 50px 40px;
  }

  .gmb-sec5-heading {
    font-size: 42px;
    line-height: 52px;
  }

  /*gmb-secction-6*/

  .gmb-section-6 {
    padding: 50px 0px;
  }

  .gmb-sec6-heading {
    font-size: 42px;
    width: 70%;
    text-align: center;
  }

  .gmb-section-7 {
    height: 100%;
    padding-top: 40px;
  }

  .gmb-sec7-heading {
    font-size: 42px;
    width: 40%;
  }

  .gmb-sec7-img-cont {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .gmb-sec7-img-cont img {
    object-fit: contain;
  }
}

/*extra large desktop devices */
@media (min-width: 1399.98px) and (max-width: 1512.98px) {
}
