.landing-process-wrapper {
  margin-top: 40px;
}

.landing-process-card {
  display: flex;
  flex-direction: column;
  gap: 18px;
  border: 1px solid var(--stroke);
  padding: 20px;
  border-radius: 20px;
  height: 420px;
}

.landing-process-numb {
  font-weight: 500;
  font-size: 28px;
  color: var(--primary);
  margin-bottom: 10px;
}

.landing-process-heading {
  font-size: 22px;
  line-height: 32px;
}

.landing-process-content {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: var(--color2);
}

.landing-process-bullets {
  padding-left: 1rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 8px;
}

.landing-process-bullets li {
  font-size: 18px;
  font-weight: 500;
}

.LandingProcessSwiper .swiper-wrapper {
  padding-bottom: 60px;
}

.LandingProcessSwiper > .swiper-pagination > span {
  height: 16px;
  width: 16px;
  background-color: var(--secondary);
}

/*responsive*/

/*--mobile and tablet--*/

@media (max-width: 991.98px) {
}

/*--mobile--*/

@media (max-width: 575.98px) {
  .landing-process-card {
    height: 100%;
    padding: 30px 20px;
  }
}

/*--tablet--*/

@media (min-width: 575.99px) and (max-width: 991.98px) {
  .landing-process-card {
    height: 400px;
    padding: 30px 20px;
  }
}

/*large desktop devices*/
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .landing-process-card {
    height: 400px;
  }
}

@media (min-width: 1199.98px) and (max-width: 1399.98px) {
  .landing-process-card {
    height: 440px;
  }
}

/*extra large desktop devices */
@media (min-width: 1366.98px) and (max-width: 1512.98px) {
}
