.landing {
  --landing-accent: var(--primary);
  --landing-sec-1-bg: transparent;
  --landing-sec-1-image: none;
  --landing-sec-2-bg: transparent;
  --landing-sec-3-bg: transparent;
  --landing-sec-4-bg: transparent;
  --landing-sec-5-bg: transparent;
  --landing-sec-6-bg: transparent;
  --landing-sec-7-bg: transparent;
  --landing-sec-7-image: none;
  --landing-sec-7-button-bg: var(--primary);
}

.landing--dental {
  --landing-accent: #2f82f9;
  --landing-sec-1-bg: rgba(154, 208, 255, 0.26);
  --landing-sec-1-image: url("/images/dental/dental-hero-banner.svg");
  --landing-sec-2-bg: #fdfdfd;
  --landing-sec-3-bg: rgba(154, 208, 255, 0.23);
  --landing-sec-4-bg: #fdfdfd;
  --landing-sec-5-bg: rgba(199, 220, 249, 0.24);
  --landing-sec-6-bg: rgba(226, 231, 253, 0.61);
  --landing-sec-7-bg: #f2f7fe;
  --landing-sec-7-image: url("/images/dental/dental-banner-2.svg");
}

.landing--roofing {
  --landing-sec-1-bg: rgba(198, 215, 231, 0.13);
  --landing-sec-1-image: url("/images/roofing/roof-hero-img.svg");
  --landing-sec-2-bg: rgba(250, 227, 175, 0.27);
  --landing-sec-3-bg: rgba(202, 232, 255, 0.17);
  --landing-sec-4-bg: rgba(250, 227, 175, 0.27);
  --landing-sec-5-bg: rgba(199, 220, 249, 0.24);
  --landing-sec-6-bg: rgba(226, 231, 253, 0.61);
  --landing-sec-7-bg: rgba(201, 237, 253, 0.5);
  --landing-sec-7-image: url("/images/roofing/roof-banner.svg");
  --landing-sec-7-button-bg: #ea4334;
}

.landing-hvac {
  --landing-accent: #fad337;
  --landing-sec-1-image: url("/images/hvac/hvac-hero-img.svg");
  --landing-sec-1-bg: rgba(181, 226, 251, 0.2);
  --landing-sec-2-bg: #fdfdfd;

  --landing-sec-3-bg: rgba(154, 208, 255, 0.23);
  --landing-sec-5-bg: rgba(181, 226, 251, 0.2);
  --landing-sec-6-bg: rgba(226, 231, 253, 0.61);
  --landing-sec-7-bg: #f2f7fe;

  --landing-sec-7-image: url("/images/hvac/hvac-banner.svg");
}

.landing-sec-1 {
  padding: 140px 100px 100px 100px;
  height: 95svh;
  background-image: var(--landing-sec-1-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: var(--landing-sec-1-bg);
}

.landing-sec-1-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.landing-sec-1 h1 {
  font-size: 58px;
  line-height: 70px;
}

.landing-sec-1 h1 span {
  color: var(--landing-accent);
}

.landing-sec-1 p {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  padding-right: 170px;
}

.landing-sec-1 .buttons {
  background-color: var(--secondary);
  border-color: var(--secondary);
  margin-top: 10px;
}

.landing-sec-2 {
  background-color: var(--landing-sec-2-bg);
  padding: 60px 100px;
}

.landing-img-container {
  position: relative;
  width: 100%;
  min-height: 450px;
}

.landing-img-container img {
  object-fit: cover;
}

.landing-sec-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.landing-heading {
  font-size: 42px;
  line-height: 56px;
  text-transform: capitalize;
}

.landing-sub-head {
  font-size: 26px;
  text-transform: capitalize;
}

.landing-description {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

.landing-list {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.landing-list li {
  font-weight: 500;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.landing-list svg {
  font-size: 10px;
  color: var(--primary);
}

.landing-sec-3 {
  background-color: var(--landing-sec-3-bg);
  padding: 60px 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.landing-sec-4 {
  background-color: var(--landing-sec-4-bg);
  padding: 60px 100px;
}

.landing-sec-4 .buttons {
  background-color: var(--secondary);
  border-color: var(--secondary);
  margin-top: 20px;
}

.landing-sec-4 .landing-img-container {
  min-height: 500px;
}

.landing-sec-5 {
  background-color: var(--landing-sec-5-bg);
  padding: 60px 100px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.landing-sec-6 {
  background-color: var(--landing-sec-6-bg);
  padding: 60px 100px;
}

.landing-sec-6 .landing-img-container {
  min-height: 300px;
}

.landing-sec-7 {
  padding: 60px 100px;
  height: 95svh;
  background-image: var(--landing-sec-7-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: var(--landing-sec-7-bg);
  display: flex;
  justify-content: center;
  text-align: center;
}

.landing-sec-7 .landing-description {
  margin: 20px 0px;
}

.landing-sec-7 .buttons {
  background-color: var(--landing-sec-7-button-bg);
  border-color: var(--landing-sec-7-button-bg);
}

.landing-sec-8 {
  padding: 60px 100px;
  background-color: var(--color1);
}

.landing-sec-8-head-cont {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 70px;
}

.landing-sec-8-head-cont .landing-description {
  margin-top: 10px;
  padding: 0px 60px;
}

.landing-process-box {
  padding: 45px 70px;
  background-color: var(--white);
  position: relative;
  height: 220px;
}

.landing-process-number {
  position: absolute;
  top: 50%;
  left: -15;
  transform: translateY(-50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-process-number p {
  font-weight: 500;
  color: var(--white);
  font-size: 16px;
}

.landing-process-heading {
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 12px;
}

.landing-process-description {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: var(--color2);
}

.landing-sec-9 {
  padding-top: 60px;
}

.landing-sec-9 .faqs-question-box {
  position: sticky;
  top: 40px;
}

.landing-sec-10 {
  padding: 60px 0px 60px 100px;
}

.landing-sec-11 .contact-form-heading {
  font-size: 48px;
}

.landing-sec-12 {
  padding: 60px 100px;
  background-color: var(--landing-sec-3-bg);
}

.landing-sec-12 .landing-img-container {
  min-height: 300px;
}

.landing-comparison {
  display: flex;
  gap: 60px;
  margin-bottom: 20px;
}

.landing-comparison .landing-sub-head {
  margin-bottom: 20px;
}

@media (max-width: 991.98px) {
  .landing-heading {
    font-size: 36px;
    line-height: 44px;
  }

  .landing-sub-head {
    font-size: 22px;
  }

  .landing-description {
    font-size: 18px;
    line-height: 26px;
  }

  .landing-list li {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .landing-sec-3 {
    gap: 40px;
  }

  .landing-sec-5 {
    gap: 40px;
  }

  .landing-sec-8-head-cont {
    margin-bottom: 40px;
    text-align: start;
  }

  .landing-sec-8-head-cont .landing-description {
    padding: 0px 0px;
  }

  .landing-process-box {
    height: 100%;
  }

  .landing-process-number {
    display: none;
  }

  .landing-process-heading {
    line-height: 36px;
  }

  .landing-sec-9 {
    padding-top: 40px;
  }

  .landing-sec-9 .faqs-question-box {
    position: relative;
  }

  .landing-sec-11 .contact-form-heading {
    font-size: 36px;
    line-height: 48px;
  }
}

@media (max-width: 575.98px) {
  .landing-sec-1 {
    padding: 100px 20px 40px 20px;
    background-image: none;
    height: 100%;
  }

  .landing-sec-1-content {
    gap: 14px;
  }

  .landing-sec-1 h1 {
    font-size: 42px;
    line-height: 50px;
  }

  .landing-sec-1 p {
    font-size: 18px;
    line-height: 26px;
    padding-right: 0px;
  }

  .landing-sec-2 {
    padding: 40px 20px;
  }

  .landing-img-container {
    position: relative;
    width: 100%;
    min-height: 300px;
    scale: 1.1;
  }

  .landing-sec-3,
  .landing-sec-4,
  .landing-sec-5,
  .landing-sec-6,
  .landing-sec-8,
  .landing-sec-10 {
    padding: 40px 20px;
  }

  .landing-sec-7 {
    padding: 60px 20px;
    height: 100%;
    background-image: none;
  }

  .landing-process-box {
    padding: 26px;
  }

  .landing-sec-4 .landing-img-container {
    min-height: 300px;
  }

  .landing-sec-12 {
    padding: 40px 20px;
  }

  .landing-comparison {
    gap: 20px;
    flex-direction: column;
  }
}

@media (min-width: 575.99px) and (max-width: 991.98px) {
  .landing-sec-1 {
    padding: 100px 40px 40px 40px;
    height: 100svh;
  }

  .landing-sec-1-content {
    gap: 18px;
  }

  .landing-sec-1 h1 {
    font-size: 48px;
    line-height: 58px;
  }

  .landing-sec-1 p {
    font-size: 20px;
    line-height: 30px;
    padding-right: 60px;
  }

  .landing-sec-2,
  .landing-sec-3,
  .landing-sec-4,
  .landing-sec-5,
  .landing-sec-6,
  .landing-sec-7,
  .landing-sec-8,
  .landing-sec-10 {
    padding: 40px;
  }

  .landing-sec-7 {
    height: 65svh;
  }

  .landing-process-box {
    padding: 32px;
  }

  .landing-sec-4 .landing-img-container {
    min-height: 400px;
  }

  .landing-sec-12 {
    padding: 40px;
  }

  .landing-comparison {
    gap: 20px;
  }
}

@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .landing-sec-1 {
    padding: 120px 30px 100px 30px;
    height: 95svh;
  }

  .landing-sec-1-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .landing-sec-1 h1 {
    font-size: 46px;
    line-height: 56px;
  }

  .landing-sec-1 p {
    padding-right: 40px;
  }

  .landing-sec-2 {
    padding: 40px 30px;
  }

  .landing-sec-content {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .landing-sec-3 {
    padding: 40px 30px;
    gap: 40px;
  }

  .landing-sec-4 {
    padding: 40px 30px;
  }

  .landing-sec-5 {
    padding: 40px 30px;
    gap: 40px;
  }

  .landing-sec-6 {
    padding: 40px 30px;
  }

  .landing-sec-7 {
    padding: 40px 30px;
    height: 85svh;
  }

  .landing-sec-8 {
    padding: 40px 30px;
  }

  .landing-sec-8-head-cont {
    margin-bottom: 40px;
  }

  .landing-sec-8-head-cont .landing-description {
    padding: 0px;
  }

  .landing-process-box {
    padding: 45px;
  }

  .landing-sec-9 {
    padding-top: 40px;
  }

  .landing-sec-10 {
    padding: 40px 0px 40px 30px;
  }

  .landing-sec-12 {
    padding: 40px 30px;
  }
}

@media (min-width: 1199.98px) and (max-width: 1399.98px) {
  .landing-sec-1 {
    padding: 120px 30px 100px 30px;
    height: 95svh;
  }

  .landing-sec-1-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .landing-sec-1 h1 {
    font-size: 46px;
    line-height: 56px;
  }

  .landing-sec-1 p {
    padding-right: 40px;
  }

  .landing-sec-2 {
    padding: 40px 30px;
  }

  .landing-sec-content {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .landing-sec-3 {
    padding: 40px 30px;
    gap: 40px;
  }

  .landing-sec-4 {
    padding: 40px 30px;
  }

  .landing-sec-5 {
    padding: 40px 30px;
    gap: 40px;
  }

  .landing-sec-6 {
    padding: 40px 30px;
  }

  .landing-sec-7 {
    padding: 40px 30px;
    height: 85svh;
  }

  .landing-sec-8 {
    padding: 40px 30px;
  }

  .landing-sec-8-head-cont {
    margin-bottom: 40px;
  }

  .landing-sec-8-head-cont .landing-description {
    padding: 0px;
  }

  .landing-process-box {
    padding: 45px;
  }

  .landing-sec-9 {
    padding-top: 40px;
  }

  .landing-sec-10 {
    padding: 40px 0px 40px 30px;
  }

  .landing-sec-12 {
    padding: 40px 30px;
  }
}

@media (min-width: 1366.98px) and (max-width: 1512.98px) {
}
