:root {
  --launchpad-color-1: #ff6600;
  --launchpad-color-2: #d4e7fb;
  --launchpad-color-3: #f4f4f4;
  --launchpad-color-4: #b1b1b1;
  --launchpad-color-5: #fffaef;
  --launchpad-home-bg: #eff6ff;
  --launchpad-square: rgba(255, 102, 0, 0.2);
}

.launchpad-sec-1 {
  position: relative;
  padding: 160px 100px 60px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  isolation: isolate;
}

.launchpad-sec-1 .launch-col {
  position: relative;
  z-index: 1;
}

.launchpad-square-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.launchpad-square {
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--white);
  animation: launchpadSquareGlow 2s infinite steps(1, end);
  will-change: box-shadow;
  box-shadow: inset 0 0 0 0 var(--launchpad-square);
}

@keyframes launchpadSquareGlow {
  0%,
  24%,
  62%,
  100% {
    box-shadow: inset 0 0 0 0 var(--launchpad-square);
  }

  25%,
  63% {
    box-shadow: inset 0 0 0 30px var(--launchpad-square);
  }
}

.bg-label {
  background-color: var(--launchpad-color-1);
  color: var(--white);
  border-color: var(--white) !important;
}

.launchpad-label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 18px;
  border: 2px solid var(--secondary);
  width: fit-content;
  border-radius: 50px;
  font-weight: 500;
  font-size: 15px;
  text-decoration: capitalize;
}

.launchpad-label svg {
  font-size: 18px;
  flex-shrink: 0;
}

.launchpad-sec-1-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.launchpad-main-heading {
  font-size: 64px;
  line-height: 76px;
}

.launchpad-descrp {
  font-size: 20px;
  width: 65%;
  font-weight: 500;
  color: var(--color2);
  line-height: 28px;
}

.launchpad-descrp span {
  color: var(--text);
}

.launchpad-sec1-ctas {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 10px;
}

.launchpad-sec1-ctas .buttons:nth-child(1) {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.launchpad-sec1-ctas .buttons:nth-child(2) {
  background-color: var(--launchpad-color-1);
  border-color: var(--launchpad-color-1);
}

@media (max-width: 768px) {
  .launchpad-square {
    opacity: 0.5;
  }
}

/*--launchpad-sec-2--*/
.launchpad-sec-2 {
  padding: 0px 100px 60px 100px;
}

.launchpad-sec-1-card-wrapper {
  height: 100%;
  min-height: 315px;
  overflow: hidden;
  border-radius: 10px;
}

.launch-sec-1-card-1 {
  background-color: var(--launchpad-color-2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.launchpad-rocket-lottie {
  width: 100%;
  height: 100%;
  min-height: 315px;
}

.launchpad-rocket-lottie canvas,
.launchpad-rocket-lottie svg {
  width: 100%;
  height: 100%;
}

.launch-sec-1-card-2 {
  background-color: var(--text);
  aspect-ratio: 14/ 9;
}

.launch-sec-1-card-2 iframe {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 315px;
  border: 0;
  overflow: hidden;
}

.launch-sec-1-card-3 {
  background-color: var(--launchpad-color-1);
  padding: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 26px;
  border-radius: 10px;
}

.launch-sec-1-card-3 h2 {
  font-size: 36px;
  color: var(--white);
  line-height: 48px;
}

.launch-sec-1-card-3 .buttons {
  background-color: var(--white);
  color: var(--text);
  font-weight: 500;
  border-color: var(--white);
}

/*--launchpad-sec-3--*/

.launchpad-sec-3 {
  padding: 0px 100px 60px 100px;
}

.launchpad-center-head {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.launchpad-center-head-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

.launchpad-sec-heading {
  font-size: 42px;
  line-height: 54px;
}

.launchpad-box-card {
  height: 600px;
}

.launchpad-box-card-content-wrapper {
  border: 1px solid var(--stroke);
  height: 100%;
  border-radius: 20px;
  padding: 50px;
}

.launchpad-box-card-heading-container {
  background-color: var(--color1);
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.launchpad-box-card-heading {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 14px;
  text-transform: capitalize;
}

.launchpad-box-card-heading svg {
  flex-shrink: 0;
}

.launchpad-box-card-sub-head {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 24px;
}

.launchpad-box-card-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.launchpad-box-card-list li {
  display: flex;
  align-items: start;
  gap: 14px;
  font-size: 18px;
  line-height: 30px;
}

.launchpad-box-card-list li svg {
  flex-shrink: 0;
  color: var(--launchpad-color-4);
}

.launchpad-box-card-2 .launchpad-box-card-heading-container {
  background-color: var(--launchpad-color-1);
  color: var(--white);
}

.launchpad-box-card-2 .launchpad-box-card-list li svg {
  color: var(--text);
}

.launchpad-box-card-cta {
  margin-top: 32px;
}

.launchpad-box-card-cta .buttons {
  background-color: var(--secondary);
  border-color: var(--secondary);
}

.launchpad-box-card-3 {
  padding-right: 60px;
  height: 100%;
}

.launchpad-box-card-3 .launchpad-box-card-heading-container {
  background-color: var(--primary);
  color: var(--text);
}

.launchpad-box-card-3 .launchpad-box-card-list li svg {
  color: var(--text);
}

.launchpad-box-card-3-img-cont {
  position: relative;
  height: 500px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.launchpad-box-card-3-img-cont img {
  object-fit: cover;
}

/*--launchpad-sec-4--*/

.launchpad-sec-4 {
  background-color: var(--launchpad-color-5);
  padding: 60px 100px 0px 100px;
}

.launchpad-sec-4-card-wrapper {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-right: 1px solid var(--stroke);
}

.launchpad-sec-4-card-number {
  padding: 14px 20px;
  background-color: var(--launchpad-color-1);
  width: fit-content;
  border-radius: 10px;
  font-size: 16px;
  color: var(--white);
}

.launchpad-sec-4-card-heading {
  font-size: 26px;
}

.launchpad-sec-4-card-descrp {
  font-size: 18px;
  line-height: 28px;
}

.launchpad-sec-4-card-descrp-2 {
  font-weight: 500;
  font-size: 18px;
}

.launchpad-sec-4-list {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.launchpad-sec-4-list li {
  display: flex;
  align-items: start;
  gap: 10px;
  font-weight: 500;
}

.launchpad-sec-4-list li svg {
  flex-shrink: 0;
}

.launchpad-sec-4-card-wrapper-3 {
  border: none;
}

/*--launchpad-sec-5--*/
.launchpad-sec-5 {
  background-image: url("/images/launch-banner.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
}

.launchpad-sec-5-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.launchpad-banner-heading {
  font-size: 54px;
  color: var(--white);
  line-height: 72px;
}

.launchpad-banner-descrp {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  width: 65%;
  color: var(--white);
}

.launchpad-banner-ctas {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.launchpad-banner-ctas .buttons {
  background-color: var(--secondary);
  border-color: var(--secondary);
  flex-shrink: 0;
}

/*--launchpad-sec-6--*/
.launchpad-sec-6 {
  padding: 0px 100px 60px 100px;
}

.launchpad-pricing-wrapper {
  margin-top: 60px;
}

.launchpad-pricing-card {
  padding: 24px;
  border-radius: 20px;
  background: var(--white);
  border: 1px solid var(--stroke);
  min-height: 600px;
  height: 100%;
}

.launchpad-pricing-card--dominate {
  background: var(--launchpad-color-1);
  color: var(--white);
}

.launchpad-pricing-card--dominate .launchpad-price,
.launchpad-pricing-card--dominate .launchpad-price span,
.launchpad-pricing-card--dominate .launchpad-price-subtitle,
.launchpad-pricing-card--dominate .launchpad-price-section-title,
.launchpad-pricing-card--dominate .launchpad-price-features li {
  color: var(--white);
}

.launchpad-pricing-card--dominate .launchpad-price-badge {
  background: var(--white);
  color: var(--secondary);
}

.launchpad-pricing-card--dominate .launchpad-price-cta-btn {
  background: var(--white);
  color: var(--secondary);
  border-color: var(--white);
}

.launchpad-pricing-card--dominate .launchpad-price-cta-btn:hover {
  background: var(--secondary);
  color: var(--white);
}

.launchpad-price-badge {
  display: inline-block;
  background: var(--launchpad-color-1);
  color: var(--white);
  font-size: 12px;
  font-weight: 400;
  padding: 8px 12px;
  border-radius: 20px;
  margin-bottom: 16px;
}

.launchpad-price {
  font-size: 48px;
  font-weight: 500;
  margin: 0;
}

.launchpad-price-prefix {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 6px;
}

.launchpad-price-subtitle {
  font-size: 16px;
  font-weight: 500;
  color: var(--color2);
  margin: 10px 0 24px;
  line-height: 26px;
}

.launchpad-price-section-title {
  font-weight: 500;
  margin-bottom: 32px;
}

.launchpad-price-features {
  list-style: none;
  padding: 0;
  margin: 0 0 42px;
}

.launchpad-price-features li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 22px;
  font-size: 16px;
  font-weight: 400;
}

.launchpad-price-features li::before {
  content: "\2713";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid var(--secondary);
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.launchpad-pricing-card--dominate .launchpad-price-features li::before {
  border-color: var(--white);
}

.launchpad-price-ideal {
  font-size: 16px;
  font-weight: 500;
  margin: auto 0 24px;
}

.launchpad-price-cta-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid var(--secondary);
  background: transparent;
  color: var(--text);
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease;
}

.launchpad-price-cta-btn:hover {
  background: var(--secondary);
  color: var(--white);
}

/*--launchpad-sec-7--*/
.launchpad-sec-7 {
  padding: 0px 100px 60px 100px;
}

.launchpad-sec-descrp {
  color: var(--color2);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.launchpad-faq-wrapper {
  margin-top: 40px;
}

.launchpad-faq-wrapper .accordion-item {
  background: transparent;
}

/*--launchpad-sec-9--*/
.launchpad-sec-9 {
  background-color: var(--launchpad-home-bg);
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 120px 100px 60px 100px;
}

.launchpad-home-contact-form {
  flex-basis: 40%;
  position: sticky;
  top: 32px;
  height: 100%;
}

.launchpad-home-content {
  flex-basis: 55%;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.launchpad-home-label {
  padding: 14px 20px;
  width: fit-content;
  border-radius: 50px;
  display: flex;
  gap: 10px;
  font-weight: 500;
  font-size: 15px;
  text-transform: capitalize;
  background-color: var(--launchpad-color-1);
  color: var(--white);
}

.launchpad-home-main-heading {
  font-size: 48px;
  line-height: 60px;
}

.launchpad-home-descrp {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.launchpad-home-cta-clutch {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 20px 0px;
}

.launchpad-home-cta-clutch .buttons {
  background-color: var(--secondary);
  border-color: var(--secondary);
  flex-shrink: 0;
}

.launchpad-home-sec-9-stats {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.launchpad-home-sec-9-stats p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 18px;
  font-weight: 500;
  color: var(--color2);
  text-align: center;
}

.launchpad-home-sec-9-stats p span {
  font-size: 32px;
  color: var(--text);
}

/*--launchpad-sec-8--*/
.launchpad-sec-8 {
  padding: 60px 100px;
}

.launchpad-sec-8 .launchpad-box-card-content-wrapper {
  padding: 20px;
  min-height: 350px !important;
}

.launchpad-box-card-5 .launchpad-box-card-heading-container {
  background-color: var(--primary);
}

.launchpad-sec-8 .launchpad-box-card-heading {
  line-height: 28px;
  font-size: 18px;
}

.launchpad-sec-8 .launchpad-box-card {
  height: 100%;
}

.launch-box-card-banner {
  background-image: url("/images/launch-banner-2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 100px !important;
  gap: 20px;
}

.launch-box-card-banner-heading {
  font-size: 48px;
  color: var(--white);
}

.launch-box-card-banner-descrp {
  color: var(--white);
  font-size: 18px;
  width: 70%;
  line-height: 28px;
}

.launch-box-card-banner .buttons {
  background-color: var(--launchpad-color-1);
  border-color: var(--launchpad-color-1);
}

/*--launchpad-section-10--*/
.launchpad-sec-10 .launchpad-sec-5 {
  background-image: url("/images/launch-banner-2.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 80px 0px;
  display: flex;
  justify-content: center;
}

.launchpad-sec-10
  .launchpad-sec-5
  .launchpad-banner-ctas
  .buttons:nth-child(2) {
  background-color: var(--launchpad-color-1);
  border-color: var(--launchpad-color-1);
}

/*responsive*/

/* mobile phones + tablets */
@media (max-width: 991.98px) {
}

/*mobile only*/
@media (max-width: 575.98px) {
  .launchpad-sec-1 {
    padding: 100px 20px 40px 20px;
    align-items: start;
  }

  .launchpad-sec-1-content-wrapper {
    align-items: start;
    text-align: start;
  }

  .launchpad-main-heading {
    font-size: 42px;
    line-height: 54px;
  }

  .launchpad-main-heading span img {
    width: 42px;
    height: 42px;
    margin: 0px 4px;
  }

  .launchpad-descrp {
    width: 100%;
  }

  .launchpad-sec1-ctas {
    flex-direction: column;
  }

  .launchpad-sec1-ctas .buttons:nth-child(1) {
    display: none;
  }

  /*--launchpad-sec-2--*/
  .launchpad-sec-2 {
    padding: 0px 20px 40px 20px;
  }

  .launchpad-sec-1-card-wrapper {
    height: 100%;
    width: 100%;
  }

  .launch-sec-1-card-1 {
    background-color: var(--launchpad-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .launchpad-rocket-lottie {
    width: 100%;
  }

  .launch-sec-1-card-2 {
    background-color: var(--text);
    aspect-ratio: 16 / 9;
  }

  .launch-sec-1-card-3 {
    padding: 32px;
  }

  .launch-sec-1-card-3 h2 {
    font-size: 38px;
  }

  /*--launchpad-sec-3--*/

  .launchpad-sec-3 {
    padding: 0px 20px 40px 20px;
  }

  .launchpad-center-head-content-wrapper {
    align-items: start;
    text-align: start;
  }

  .launchpad-sec-heading {
    font-size: 34px;
    line-height: 44px;
  }

  .launchpad-box-card {
    height: 100%;
  }

  .launchpad-box-card-content-wrapper {
    padding: 20px;
  }

  .launchpad-box-card-heading {
    align-items: start;
  }

  .launchpad-box-card-3 {
    padding-right: 20px;
    height: 100%;
  }

  .launchpad-box-card-3-img-cont {
    position: relative;
    height: 250px;
    margin-top: 20px;
  }

  /*--launchpad-sec-4--*/

  .launchpad-sec-4 {
    background-color: var(--launchpad-color-5);
    padding: 40px 20px 0px 20px;
  }

  .launchpad-sec-4-card-wrapper {
    padding: 20px;
    border-right: none;
    border-bottom: 1px solid var(--stroke);
  }

  /*--launchpad-sec-5--*/
  .launchpad-sec-5 {
    padding: 100px 20px;
  }

  .launchpad-sec-5-content-wrapper {
    justify-content: start;
    align-items: start;
    text-align: start;
  }

  .launchpad-banner-heading {
    font-size: 42px;
    color: var(--white);
    line-height: 54px;
  }

  .launchpad-banner-descrp {
    width: 100%;
  }

  .launchpad-banner-ctas {
    flex-direction: column;
    align-items: start;
  }

  .launchpad-banner-ctas .buttons {
    order: 2;
  }

  /*--launchpad-sec-6--*/
  .launchpad-sec-6 {
    padding: 40px 20px;
  }

  .launchpad-pricing-wrapper {
    margin-top: 40px;
  }

  /*--launchpad-sec-7--*/
  .launchpad-sec-7 {
    padding: 0px 20px 40px 20px;
  }

  .launchpad-sec-9 {
    flex-direction: column;
    padding: 40px 20px;
    gap: 40px;
  }

  .launchpad-home-contact-form,
  .launchpad-home-content {
    flex-basis: auto;
    width: 100%;
  }

  .launchpad-home-contact-form {
    position: static;
  }

  .launchpad-home-content {
    padding-right: 0;
  }

  .launchpad-home-main-heading {
    font-size: 38px;
    line-height: 48px;
  }

  .launchpad-home-descrp {
    font-size: 18px;
    line-height: 26px;
  }

  .launchpad-home-cta-clutch {
    align-items: flex-start;
    flex-direction: column;
  }

  /*--launchpad-sec-8--*/
  .launchpad-sec-8 {
    padding: 40px 20px;
  }

  .launchpad-sec-8 .launchpad-box-card-content-wrapper {
    padding: 20px;
    height: 100%;
  }

  .launch-box-card-banner {
    padding: 20px !important;
    gap: 20px;
  }

  .launch-box-card-banner-heading {
    font-size: 36px;
    line-height: 48px;
  }

  .launch-box-card-banner-descrp {
    width: 100%;
  }

  /*--launchpad-section-10--*/
  .launchpad-sec-10 .launchpad-sec-5 {
    padding: 40px 20px;
  }
}

/*tablet devices*/
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .launchpad-sec-1 {
    padding: 120px 40px 40px 40px;
  }

  .launchpad-main-heading {
    font-size: 54px;
    line-height: 64px;
  }

  .launchpad-main-heading span img {
    width: 52px;
    height: 52px;
    margin: 0px 4px;
  }

  .launchpad-descrp {
    width: 80%;
  }

  .launchpad-sec1-ctas .buttons:nth-child(1) {
    display: flex;
  }

  /*--launchpad-sec-2--*/
  .launchpad-sec-2 {
    padding: 0px 40px 40px 40px;
  }

  .launchpad-sec-1-card-wrapper {
    height: 100%;
    width: 100%;
  }

  .launch-sec-1-card-3 h2 {
    font-size: 42px;
    line-height: 62px;
  }

  /*--launchpad-sec-3--*/

  .launchpad-sec-3 {
    padding: 0px 40px 40px 40px;
  }

  .launchpad-center-head-content-wrapper {
    align-items: start;
    text-align: start;
  }

  .launchpad-sec-heading {
    font-size: 42px;
    line-height: 54px;
  }

  .launchpad-box-card {
    height: 100%;
  }

  .launchpad-box-card-content-wrapper {
    padding: 20px;
  }

  .launchpad-box-card-heading {
    align-items: start;
  }

  .launchpad-box-card-3 {
    padding-right: 20px;
    height: 100%;
  }

  .launchpad-box-card-3-img-cont {
    position: relative;
    height: 450px;
    margin-top: 20px;
  }

  /*--launchpad-sec-4--*/

  .launchpad-sec-4 {
    background-color: var(--launchpad-color-5);
    padding: 40px 40px 0px 40px;
  }

  .launchpad-sec-4-card-wrapper {
    padding: 20px;
    border-right: none;
    border-bottom: 1px solid var(--stroke);
  }

  /*--launchpad-sec-5--*/
  .launchpad-sec-5 {
    padding: 100px 40px;
  }

  .launchpad-sec-5-content-wrapper {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .launchpad-banner-heading {
    font-size: 42px;
    color: var(--white);
    line-height: 54px;
  }

  .launchpad-banner-descrp {
    width: 100%;
  }

  .launchpad-banner-ctas {
    align-items: center;
    justify-content: center;
  }

  /*--launchpad-sec-6--*/
  .launchpad-sec-6 {
    padding: 40px;
  }

  .launchpad-pricing-wrapper {
    margin-top: 40px;
  }

  /*--launchpad-sec-7--*/
  .launchpad-sec-7 {
    padding: 0px 40px 40px 40px;
  }

  .launchpad-sec-9 {
    flex-direction: column;
    padding: 40px;
    gap: 40px;
  }

  .launchpad-home-contact-form,
  .launchpad-home-content {
    flex-basis: auto;
    width: 100%;
  }

  .launchpad-home-contact-form {
    position: static;
  }

  .launchpad-home-content {
    padding-right: 0;
  }

  .launchpad-home-main-heading {
    font-size: 38px;
    line-height: 48px;
  }

  .launchpad-home-descrp {
    font-size: 18px;
    line-height: 26px;
  }

  /*--launchpad-sec-8--*/
  .launchpad-sec-8 {
    padding: 40px;
  }

  .launchpad-sec-8 .launchpad-box-card-content-wrapper {
    padding: 20px;
    height: 100%;
  }

  .launch-box-card-banner {
    padding: 20px !important;
    gap: 20px;
  }

  .launch-box-card-banner-heading {
    font-size: 36px;
    line-height: 48px;
  }

  .launch-box-card-banner-descrp {
    width: 100%;
  }

  /*--launchpad-section-10--*/
  .launchpad-sec-10 .launchpad-sec-5 {
    padding: 40px;
  }
}

/*large desktop devices*/
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .launchpad-sec-1 {
    padding: 120px 30px 40px 30px;
  }

  .launchpad-main-heading {
    font-size: 54px;
    line-height: 64px;
  }

  .launchpad-main-heading span img {
    width: 52px;
    height: 52px;
    margin: 0px 4px;
  }

  .launchpad-descrp {
    width: 85%;
  }

  /*--launchpad-sec-2--*/
  .launchpad-sec-2 {
    padding: 0px 30px 40px 30px;
  }

  .launchpad-sec-1-card-wrapper {
    height: 100%;
    width: 100%;
  }

  /*--launchpad-sec-3--*/

  .launchpad-sec-3 {
    padding: 0px 30px 30px 30px;
  }

  /*--launchpad-sec-4--*/

  .launchpad-sec-4 {
    padding: 40px 30px 0px 30px;
  }

  /*--launchpad-sec-5--*/
  .launchpad-sec-5 {
    padding: 100px 30px;
  }

  .launchpad-banner-descrp {
    width: 80%;
  }

  /*--launchpad-sec-6--*/
  .launchpad-sec-6 {
    padding: 40px 30px;
  }

  /*--launchpad-sec-7--*/
  .launchpad-sec-7 {
    padding: 0px 30px 40px 30px;
  }

  .launchpad-sec-9 {
    flex-direction: column;
    padding: 40px;
    gap: 40px;
  }

  .launchpad-home-contact-form,
  .launchpad-home-content {
    flex-basis: auto;
    width: 100%;
  }

  .launchpad-home-contact-form {
    position: static;
  }

  .launchpad-home-content {
    padding-right: 0;
  }

  /*--launchpad-sec-8--*/
  .launchpad-sec-8 {
    padding: 40px 30px;
  }

  .launch-box-card-banner-heading {
    font-size: 36px;
    line-height: 48px;
  }

  .launch-box-card-banner-descrp {
    width: 100%;
  }

  /*--launchpad-section-10--*/
  .launchpad-sec-10 .launchpad-sec-5 {
    padding: 40px 30px;
  }
}

@media (min-width: 1199.98px) and (max-width: 1399.98px) {
  .launchpad-sec-1 {
    padding: 120px 40px 60px 40px;
  }

  /*--launchpad-sec-2--*/
  .launchpad-sec-2 {
    padding: 0px 40px 60px 40px;
  }

  /*--launchpad-sec-3--*/

  .launchpad-sec-3 {
    padding: 0px 40px 60px 40px;
  }

  /*--launchpad-sec-4--*/

  .launchpad-sec-4 {
    padding: 60px 40px 0px 40px;
  }

  /*--launchpad-sec-5--*/
  .launchpad-sec-5 {
    padding: 100px 40px;
  }

  .launchpad-banner-descrp {
    width: 80%;
  }

  /*--launchpad-sec-6--*/
  .launchpad-sec-6 {
    padding: 60px 40px;
  }

  /*--launchpad-sec-7--*/
  .launchpad-sec-7 {
    padding: 0px 40px 60px 40px;
  }

  /*--launchpad-sec-9--*/

  .launchpad-sec-9 {
    padding: 60px 40px;
  }

  /*--launchpad-sec-8--*/
  .launchpad-sec-8 {
    padding: 60px 40px;
  }

  /*--launchpad-section-10--*/
  .launchpad-sec-10 .launchpad-sec-5 {
    padding: 60px 40px;
  }
}

/*extra large desktop devices */
@media (min-width: 1366.98px) and (max-width: 1512.98px) {
}
