.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100svh;
  z-index: 200;
  background-color: var(--color1);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;
  opacity: 1;
  visibility: visible;
}

.loader-wrapper.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader {
  display: block;
  --height-of-loader: 4px;
  --loader-color: var(--primary);
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
