.localseo-section-1 {
  background-image: url("/images/bg-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 160px 100px 0px 100px;
  height: 90vh;
  overflow: hidden;
}

.localseo-sec1-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 32px;
}

.localseo-sec1-title {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px 20px;
  background-color: rgba(52, 168, 82, 0.2);
  width: fit-content;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 500;
  color: var(--text);
  text-transform: capitalize;
}

.localseo-sec1-heading {
  font-size: 56px;
  line-height: 70px;
  text-transform: capitalize;
}

.localseo-sec1-descrp {
  font-size: 20px;
  line-height: 28px;
  color: var(--text);
  font-weight: 500;
  width: 75%;
}

.localseo-sec1-descrp span {
  color: var(--color2);
  line-height: inherit;
}

.localseo-sec1-content .buttons {
  margin-top: 20px;
}

.localseo-sec1-img-cont {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.localseo-sec1-img-cont img {
  object-fit: contain;
}

/*localseo-video-section*/
.localseo-section-video {
  height: 100vh;
  width: 100%;
  position: relative;
}

.video-layer {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.video-layer svg {
  color: var(--primary);
  z-index: 2;
}

.localseo-section-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*localseo-section-2*/
.localseo-section-2 {
  padding: 70px 100px;
  background-color: var(--color1);
}

.localseo-sec2-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 60px;
}

.localseo-sec2-heading {
  font-size: 42px;
}

.localseo-sec2-descrp {
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  width: 50%;
  text-align: center;
}

.localseo-card-wrapper {
  padding: 42px 32px;
  border: 1px solid var(--stroke);
  border-radius: 10px;
}

.localseo-card-wrapper svg {
  color: var(--primary);
}

.localseo-card-heading {
  font-size: 24px;
  margin: 14px 0px;
}

.localseo-card-descrp {
  font-size: 16px;
  color: var(--color2);
  font-weight: 500;
  line-height: 24px;
}

/*localseo-section-3*/
.localseo-section-3 {
  padding: 70px 100px;
  background-color: var(--secondary);
}

.localseo-sec3-heading {
  font-size: 52px;
  color: var(--white);
  line-height: 60px;
  margin-bottom: 40px;
}

.localseo-sec3-heading span {
  color: var(--primary);
  line-height: inherit;
}

.localseo-sec3-descrp p {
  font-size: 18px;
  color: var(--white);
  line-height: 30px;
  margin-bottom: 20px;
}

.localseo-sec3-descrp p span {
  color: var(--primary);
}

/*responsive*/

/* mobile phones + tablets */
@media (max-width: 991.98px) {
}

/*mobile only*/
@media (max-width: 575.98px) {
  .localseo-section-1 {
    background-image: none;
    padding: 100px 20px 0px 20px;
    height: 100%;
    overflow: hidden;
  }

  .localseo-sec1-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
  }

  .localseo-sec1-heading {
    font-size: 42px;
    line-height: 54px;
  }

  .localseo-sec1-descrp {
    font-size: 20px;
    width: 100%;
  }

  .localseo-sec1-img-cont {
    width: 100%;
    height: 320px;
  }

  .localseo-sec1-img-cont img {
    object-fit: contain;
  }

  /*localseo-section-2*/
  .localseo-section-2 {
    padding: 40px 20px;
    background-color: var(--color1);
  }

  .localseo-sec2-head {
    gap: 16px;
    margin-bottom: 40px;
  }

  .localseo-sec2-heading {
    font-size: 36px;
  }

  .localseo-sec2-descrp {
    font-size: 20px;
    width: 100%;
    text-align: start;
  }

  .localseo-card-wrapper {
    padding: 32px;
  }

  .localseo-card-wrapper svg {
    color: var(--primary);
  }

  /*localseo-section-3*/
  .localseo-section-3 {
    padding: 40px 20px;
  }

  .localseo-sec3-heading {
    font-size: 42px;
    line-height: 54px;
  }

  .localseo-section-3 .buttons {
    margin-bottom: 40px;
  }
}

/*table devices*/
@media (min-width: 575.99px) and (max-width: 991.98px) {
  .localseo-section-1 {
    background-image: none;
    padding: 120px 40px 0px 40px;
    height: 100%;
  }

  .localseo-sec1-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 32px;
  }

  .localseo-sec1-heading {
    font-size: 54px;
  }

  .localseo-sec1-descrp {
    width: 100%;
  }

  .localseo-sec1-content .buttons {
    margin-top: 20px;
  }

  .localseo-sec1-img-cont {
    height: 480px;
  }

  /*localseo-section-2*/
  .localseo-section-2 {
    padding: 40px;
  }

  .localseo-sec2-heading {
    font-size: 42px;
  }

  .localseo-sec2-descrp {
    width: 100%;
    text-align: start;
  }

  /*localseo-section-3*/
  .localseo-section-3 {
    padding: 40px;
  }

  .localseo-sec3-heading span {
    color: var(--primary);
    line-height: inherit;
  }

  .localseo-section-3 .buttons {
    margin-bottom: 40px;
  }
}

/*large desktop devices*/
@media (min-width: 991.98px) and (max-width: 1199.98px) {
}

@media (min-width: 1199.98px) and (max-width: 1366.98px) {
}

/*extra large desktop devices */
@media (min-width: 1366.98px) and (max-width: 1512.98px) {
}
