.web-design-sec1-content {
  background-image: url("/images/bg-1.webp");
  background-size: cover;
  background-position: center;
  padding: 180px 100px 100px 100px;
}

.web-design-sec1-heading {
  font-size: 56px;
}

.web-design-sec1-descrp {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 28px;
}

.web-design-sec1-descrp span {
  color: var(--color2);
  line-height: inherit;
}

.web-design-sec1-video-cont {
  width: 100%;
  height: 100vh;
}

.web-design-sec1-video-cont video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*web-design-section-2*/

.web-design-section-2 {
  background-color: var(--secondary);
  padding: 70px 100px;
}
.web-design-sec2-heading {
  font-size: 52px;
  color: var(--white);
  width: 70%;
  margin-bottom: 40px;
}

.web-design-sec2-heading span {
  color: var(--color2);
  line-height: inherit;
}

.web-design-services-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.web-box-1 {
  background-color: var(--color7);
  position: sticky;
  top: 50px;
}

.web-box-2 {
  background-color: var(--color1);
  position: sticky;
  top: 50px;
  z-index: 10;
}

.web-box-2 .web-service-box-content {
  color: var(--text);
}

.web-box-2 .serv-box-link {
  color: var(--text);
}

.web-box-3 {
  background-color: var(--color8);
  position: sticky;
  top: 50px;
  z-index: 10;
}

.web-box-4 {
  background-color: var(--secondary);
  position: sticky;
  top: 0px;
  z-index: 10;
}

.web-design-services-box {
  display: flex;
}

.web-service-box-content {
  width: 50%;
  padding: 40px;
  color: var(--white);
}

.web-serv-heading {
  font-size: 44px;
  width: 85%;
  text-transform: capitalize;
}

.web-serv-descrp {
  font-size: 20px;
  line-height: 32px;
  margin: 30px 0px;
}

.serv-box-link {
  color: var(--white);
  font-weight: 500;
  margin-top: 80px;
  display: inline-block;
  font-size: 20px;
}

.web-service-box-img-cont {
  position: relative;
  width: 50%;
}

.web-service-box-img-cont img {
  object-fit: cover;
}

/*web-design-section-4*/
.web-design-section-4 {
  min-height: 100vh;
  background-image: url("/images/bg-2.jpg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 100px;
}

.web-design-sec4-heading {
  font-size: 110px;
  color: var(--white);
  text-transform: capitalize;
}

.web-design-sec4-heading span {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.web-design-sec4-row {
  background-color: var(--white);
  margin-top: 60px;
}

.web-design-sec4-card {
  border-right: 1px solid var(--stroke);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 180px;
}

.web-design-sec4-card p {
  font-size: 32px;
  color: var(--color2);
  font-weight: 500;
}

.web-design-sec4-card h3 {
  font-size: 32px;
  font-weight: 400;
  color: var(--text);
  margin-bottom: 12px;
}

.web-design-sec4-card .card-descrp {
  font-size: 18px;
  line-height: 24px;
}

/*web-design-section-5*/

.web-design-section-5 {
  padding-top: 70px;
}

/*responsive*/

@media (max-width: 991.98px) {
  .web-design-sec1-content {
    background-image: none;
  }
  .web-design-sec1-heading {
    margin-bottom: 20px;
  }
  .web-design-section-2 {
    background-color: var(--secondary);
    padding: 40px 0px;
  }
  .web-design-services-wrapper {
    gap: 0px;
  }
  .web-design-sec2-heading {
    width: 100%;
    margin-bottom: 10px;
  }
  .web-box-1 {
    background-color: var(--color7);
  }
  .web-box-1,
  .web-box-2,
  .web-box-3 {
    position: relative;
  }
  .web-design-services-box {
    flex-direction: column;
  }
  .web-service-box-content,
  .web-serv-heading,
  .web-service-box-img-cont {
    width: 100%;
  }
  .web-design-sec4-heading {
    display: inline-flex;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
  }
  .web-design-sec4-heading span {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: start;
  }
  .web-design-sec4-heading span br,
  .web-design-sec4-heading span img {
    display: none;
  }
  .web-design-sec4-row {
    background-color: var(--white);
    margin-top: 40px;
  }
  .web-design-sec4-card {
    border-right: none;
    border-bottom: 1px solid var(--stroke);
    padding: 30px 10px 40px 10px;
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
}

@media (min-width: 575.99px) and (max-width: 991.98px) {
  .web-design-sec1-content {
    padding: 120px 40px 40px 40px;
  }
  .web-design-sec1-heading {
    font-size: 52px;
  }
  .web-design-sec1-video-cont {
    height: 60vh;
  }
  .web-design-sec2-heading {
    font-size: 52px;
    padding: 0px 40px;
  }
  .web-service-box-content {
    padding: 40px;
  }
  .web-serv-heading {
    font-size: 42px;
  }
  .serv-box-link {
    margin-top: 40px;
  }
  .web-service-box-img-cont {
    height: 420px;
  }
  .web-design-section-4 {
    padding: 40px;
  }
  .web-design-sec4-heading {
    font-size: 52px;
    line-height: 66px;
  }
  .web-design-section-5 {
    padding-top: 60px;
  }
}

@media (max-width: 575.98px) {
  .web-design-sec1-content {
    padding: 100px 20px 40px 20px;
  }
  .web-design-sec1-heading {
    font-size: 42px;
  }
  .web-design-sec1-video-cont {
    height: 50vh;
  }
  .web-design-sec2-heading {
    font-size: 42px;
    padding: 0px 20px;
  }
  .web-service-box-content {
    padding: 40px 20px;
  }
  .web-serv-heading {
    font-size: 38px;
  }
  .serv-box-link {
    margin-top: 10px;
  }
  .web-service-box-img-cont {
    height: 320px;
  }
  .web-design-section-4 {
    padding: 40px 20px;
  }
  .web-design-sec4-heading {
    font-size: 42px;
    line-height: 56px;
  }
  .web-design-section-5 {
    padding-top: 40px;
  }
}

/*large desktop devices*/
@media (min-width: 991.98px) and (max-width: 1199.98px) {
  .web-design-sec1-content {
    padding: 160px 30px 80px 30px;
  }

  .web-design-sec1-heading {
    font-size: 44px;
  }

  /*web-design-section-2*/

  .web-design-section-2 {
    background-color: var(--secondary);
    padding: 50px 30px;
  }
  .web-design-sec2-heading {
    font-size: 42px;
  }

  .web-serv-heading {
    font-size: 32px;
  }

  /*web-design-section-4*/
  .web-design-section-4 {
    padding: 40px 30px;
  }

  .web-design-sec4-heading {
    font-size: 90px;
  }

  .web-design-sec4-card {
    gap: 140px;
  }

  .web-design-sec4-card h3 {
    font-size: 26px;
  }

  .web-design-sec4-card .card-descrp {
    font-size: 16px;
    line-height: 22px;
  }

  /*web-design-section-5*/

  .web-design-section-5 {
    padding-top: 40px;
  }
}

@media (min-width: 1199.98px) and (max-width: 1498.98px) {
  .web-design-sec1-content {
    padding: 160px 40px 100px 40px;
  }

  .web-design-sec1-heading {
    font-size: 52px;
  }

  /*web-design-section-2*/

  .web-design-section-2 {
    background-color: var(--secondary);
    padding: 60px 40px;
  }
  .web-design-sec2-heading {
    font-size: 48px;
  }

  .web-serv-heading {
    font-size: 36px;
  }

  /*web-design-section-4*/
  .web-design-section-4 {
    padding: 50px 40px;
  }

  .web-design-sec4-heading {
    font-size: 90px;
  }

  .web-design-sec4-card {
    gap: 140px;
  }

  .web-design-sec4-card h3 {
    font-size: 32px;
  }

  .web-design-sec4-card .card-descrp {
    font-size: 18px;
    line-height: 28px;
  }

  /*web-design-section-5*/

  .web-design-section-5 {
    padding-top: 50px;
  }
}

/*extra large desktop devices */
@media (min-width: 1366.98px) and (max-width: 1512.98px) {
}
